html{
  margin: 0px;
  padding: 0px;
}
body{
  margin: 0px;
  padding: 0px;
}

.login-page-panel{
  height: 350px;
margin-top: 80px;
border: 1px solid black;
padding: 15px;
-webkit-box-shadow: 2px 2px 8px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow: 2px 2px 8px 0px rgba(50, 50, 50, 0.75);
box-shadow: 2px 2px 8px 0px rgba(50, 50, 50, 0.75);
}
